@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body,
h1,
div,
li {
  font-family: "Open Sans", sans-serif !important;
  color: #fff;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* Hero Section */
.hero-section {
  background-image: url("../assets/herobg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Event Section */
.event-section {
  background-image: url("../assets/eventBg.svg");
  background-repeat: no-repeat;
  padding: 100px 0;
  margin: 0 ;
}

.event-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 19px;
  margin: 43px 0;
  max-width: 1023px;
  width: 100%;
}

.event-date {
  max-width: 660px;
  width: 100%;
  background-image: url("../assets/event1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 24px 70px;
  border-radius: 20px;
}

.event-date2 {
  max-width: 660px;
  width: 100%;
  background-image: url("../assets/event2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 24px 70px;
  border-radius: 20px;
}

.event-date3 {
  max-width: 660px;
  width: 100%;
  background-image: url("../assets/event3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 24px 70px;
  border-radius: 20px;
}

.evt1{
  background-image: url("../assets/event1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.evt2{
  background-image: url("../assets/event2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.evt3{
  background-image: url("../assets/event1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
li .slide{
  margin: 50px 0;
}

.carousel .control-dots{
  display: none;
}

.slider.animated .slide{
  padding: 50px 0 90px;
}

.carousel-status{
    display: none;
}

.control-dots .dot{
    width: 2.4rem;
    height: 2.4rem;
    color: red !important; 
}


.carousel .control-dots .dot {
  box-shadow: none;
  background: #CECECE;
}

.carousel .control-dots .dot.selected {
  background: black;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.btn-top {
top:calc(50% - 300px);
}

@media (max-width: 800px) {
  .event-section {
    max-height: 533px;
    padding: 0;
  }

  /* .event-group {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin: 43px 0;
  } */

  /* .event-group {
    display: flex;
  } */

  .event-date,
  .event-date2,
  .event-date3 {
    width: 920px;
    height: 190px;
    padding: 23px 12px;
    border-radius: 4px;
  }
}

/* Group section */
.event-card {
  max-width: 744px;
  width: 100%;
  height: 721px;
  background-image: url("../assets/eventImg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 79px 0 0;
}

.community-card {
  max-width: 744px;
  width: 100%;
  height: 710px;
  background-image: url("../assets/communityImg.svg");
  background-size: cover;
  padding: 79px 0 0;
}

@media (max-width: 800px) {
  .event-card,
  .community-card {
    max-width: 369px;
    width: 100%;
    height: 552px;
    margin: 32px 0;
  }
}

/* News Update */
.news-blog {
  width: 100%;
  padding: 24px;
  background-color: white;
  box-shadow: 2px 2px 37px rgba(25, 20, 78, 0.17);
}

@media (max-width: 800px) {
  .news-blog {
    width: 100%;
  }
}

/* modal */

@media (max-width: 800px) {
  .modal {
    background-image: url("../assets/menuBg.svg");
    background-size: cover;
    z-index: 30;
    padding: 28px 16px 40px;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
  }

  .nav-list {
    width: 100%;
    margin: 85px auto 0;
    text-align: center;
  }

  .nav-list li {
    margin: 16px 0;
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    font-weight: 600;
  }

  .nav-list li:last-child {
    border-bottom: none;
  }

  .nav-list li:hover {
    background: rgba(123, 97, 255, 0.08);
    border-bottom: 1px solid #7b61ff;
  }
}
