@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, div, li{
    font-family: 'Open Sans', sans-serif !important;
    color: #fff;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

/* Hero Section */
.hero-section{
    background-image: url('../assets/herobg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Event Section */
.event-section{
    background-image: url('../assets/eventBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 533px;
    overflow-x: hidden;
}

.event-group{
    overflow-y: scroll !important;
}

.event-date{
    width: 660px;
    object-fit: cover;
    background-image: url('../assets/event1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 24px 70px;
}

.event-date2{
    width: 660px;
    object-fit: cover;
    background-image: url('../assets/event2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 24px 70px;
}

.event-date3{
    width: 660px;
    object-fit: cover;
    background-image: url('../assets/event3.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 24px 70px;
}

/* Group section */
.event-card{
    width: 644px;
    height: 710px;
    background-image: url('../assets/eventImg.svg');
    padding: 79px 0 0 ;   
}

.community-card{
    width: 644px;
    height: 710px;
    background-image: url('../assets/communityImg.svg');
    padding: 79px 0 0 ;     
}

/* News Update */
.news-blog{
    width: 421px;
    padding: 24px;
    background-color: white;
    box-shadow: 2px 2px 37px rgba(25, 20, 78, 0.17);
}