@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, div, li{
    font-family: 'Open Sans', sans-serif !important;
    color: #fff;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

/* Hero Section */
.hero-section{
    background-image: url('../assets/herobg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Event Section */
.event-section{
    background-image: url('../assets/eventBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.event-group{
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    overflow-y: scroll;
    white-space: nowrap;
}

.event-group::-webkit-scrollbar{
    display: none;
}

.event-date{
    width: 660px;
    object-fit: cover;
    background-image: url('../assets/event1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 24px 70px;
}